/*初始化部分*/
* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #000;
    /* font-family: 'Microsoft YaHei' */
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif
}
html,
body {
    min-width: 1024px;
}
.fl {
    float: left;
}
.fr {
    float: right
}
.clear:after {
    content: "";
    display: block;
    clear: both
}
img {
    border: 0;
    outline: none
}
ul,
li {
    list-style: none
}
a {
    text-decoration: none;
    color: #000
}

/*样式部分*/

/*----------导航部分*/
.nav{
    position: fixed;
    width: 100%;
    height: 150px;
    /*margin: 0 auto 0;*/
    /*background: linear-gradient(#999,#fff)*/
    background: url("../images/nav_bg.png") repeat-x;
}
.nav .content{
    width: 1080px;
    height: 100%;
    margin: 0 auto 0
}
.nav .content .logo{
    display: block;
    font-size:0;
    width: 100px;
    height:75px;
    background: url("../images/nav_brand.png") no-repeat center
}
.nav .content .qq_nav li{
    display: inline-block;
    font-size: 18px;
    margin-left: 20px
}
.nav .content .qq_nav li a{
    display: inline-block;
    padding: 0 20px;
    line-height: 75px
}
.nav .content .qq_nav li:hover{
    background-color:#12b7f5
}
.nav .content .register{
    display: inline-block;
    width: 96px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    background-color: #12b7f5;
    border-radius: 18px;
    margin-top: 19px;
}
.nav .content .other{
    width: 250px;
    height: 75px
}
.nav .content .other ul{
    width: 250px
}
.nav .content .other ul li{
    float: right;
    padding-left: 40px
}
.nav .content .other ul li a{
    line-height: 50px
}
.nav .content .other span{
    float: right
}

/*产品展示部分banner*/
.banner{
    padding-top:150px;
    height: 880px;
    overflow:hidden;
    background: url("../images/banner-bg.jpg");
}
.banner img{
    display: block;
    margin: 20px auto 0
}
.banner .banner_product{
    width: 100%
}

/*语音部分sound*/
.sound{}
.sound h1{
    height: 300px;
    font-size: 0;
    background:url("../images/sound-text.png") no-repeat center/cover;
}
.sound .bg{
    height: 500px;
    background: url("../images/sound-bg.jpg") no-repeat center/cover;
}
.sound .content{
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.sound .content .iphone{
    background:url("../images/sound-phone.png") no-repeat center top/cover;
    width: 700px;
    height: 700px;
    position: absolute;
    left: 0;
    top: -200px;
}
.sound .content h2{
    font-size: 40px;
    text-align: right;
    padding-top: 100px;
}
.sound .content p{
    font-size: 18px;
    text-shadow: 0 0 1px #333;
    text-align: right;
    padding-top: 50px;
}
/*file部分*/
.file{}
.file .bg{
    height: 500px;
    background: url("../images/file-bg.jpg") no-repeat center/cover;
}
.file .content{
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.file .content .computer{
    position: absolute;
    top: 100px;
    right: 0;
}
.file .content h2{
    padding-top: 100px;
    font-size: 40px;
    /*text-align: left;*/
}
.file .content p{
    padding-top: 50px;
    /*text-align: left;*/
    font-size: 18px;
    text-shadow: 0 0 1px #333;
}
/*interest 部分*/
.interest{}
.interest .bg{
    height: 500px;
    background: url("../images/interest-bg.jpg") no-repeat center/cover;
}
.interest .content{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.interest .content .phone{
    margin-top: 80px;
    float: left;
}
.interest .content h2{
    padding-top: 100px;
    font-size: 40px;
    text-align: right;
}
.interest .content p{
    padding-top: 50px;
    font-size: 18px;
    text-align: right;
}
/*footer部分*/
.footer{
    height: 250px;
    padding-top: 50px;
    background: #333;
}
.footer .plats{
    text-align: center;
}
.footer .plats li{
    display: inline-block;
}
.footer .plats li a{
    display: block;
    width: 80px;
    /*height: 20px;*/
    padding-top: 60px;
    margin: 0 50px 60px;
}
.footer .plats li:first-child a{
    background:url("../images/footer.png") no-repeat 0 0;
}
.footer .plats li:first-child a:hover{
    background-position: 0 -93px;
    color: #12b7f5;
}
.footer .plats li:nth-child(2) a{
    background:url("../images/footer.png") no-repeat -106px 0;
}
.footer .plats li:nth-child(2) a:hover{
    background-position: -106px -93px;
    color: #12b7f5;
}
.footer .plats li:nth-child(3) a{
    background:url("../images/footer.png") no-repeat -215px 0;
}
.footer .plats li:nth-child(3) a:hover{
    background-position: -215px -93px;
    color: #12b7f5;
}
.footer .plats li:nth-child(4) a{
    background:url("../images/footer.png") no-repeat -324px 0;
}
.footer .plats li:nth-child(4) a:hover{
    background-position: -324px -93px;
    color: #12b7f5;
}
.footer p{
    text-align: center;
}
/*stellar 设置*/
.sound .bg,
.file .bg,
.interest .bg{
    background-attachment: fixed;
}