.go{
    position:absolute;
    top:50px;
    right: 50px;
    z-index: 1001;
}

.more{
    position:absolute;
    right: 80px;
    bottom: 80px;
    z-index:1001;
    animation:more 1s linear infinite alternate;
}
@keyframes more{
    from{
        /*bottom:80px;  用transform做动画更合适,性能更好*/
        transform: translateY(-15px);
    }
    to{
        /*bottom:120px;*/
        transform: translateY(15px);
    }

}
.content{
    width: 900px;
    height:600px;
    position:absolute;
    left:50%;
    bottom: 0;
    margin-left:-450px;
    /*background-color:rgba(0,0,0,0.2);*/
 }

/*第一屏------------------------*/
.screen01{
    background:url("../images/01-bg.png") no-repeat center bottom;
}
.screen01 .fly{
    position:absolute;
    right: -180px;
    bottom: 550px;
    animation:more 1s linear infinite alternate 0.2s;
}
.screen01 .goods{
    position:absolute;
    left: 30px;
    bottom: 120px;
}
.screen01 .sofa01{
    position:absolute;
    left:170px;
    bottom: 330px;
    animation:more 0.8s linear infinite alternate;
}

/*第二屏-----------------------*/
.screen02{
    background: url("../images/02-bg.png") no-repeat center bottom;
}
.screen02 .text{
    position:absolute;
    left:50%;
    bottom:570px;
    transform: translateX(-50%);
    /*text-align: center;*/
}
.screen02 .text2{
    opacity:0;
    position:absolute;
    top: 0;
    left: 0;
}
.screen02.now .text1{
    opacity:0;
    transition:opacity 1s linear;
}
.screen02.now .text2{
    opacity:1;
    transition:opacity 1s linear 1s;
}
.screen02 .key{
    position: absolute;
    left:100px;
    top:6px;
    opacity:0;
}
.screen02.now .key{
    opacity:1;
    transition:all 1s linear 1s;
}
/*记录搜索框的几个节点
1.最远处 translate(2000px,145px)
2.屏幕中央 translate(-204px,145px)
3.屏幕右上角translate(-204px,145px) scale(0.7)
*/
.screen02 .search{
    position:absolute;
    right:138px;
    bottom:438px;
    opacity: 0;
}
.screen02.now .search{
    animation: search 3s linear forwards;
}
.screen02 .goods{
    position:absolute;
    left:226px;
    bottom:211px;
    transform-origin:right bottom;
    transform:scale(0);
}
.screen02.now .goods{
    transform:none;
    transition:all 1s linear 2s;
}
.screen02 .sofa02{
    position: absolute;
    left:288px;
    top:131px;
    z-index:1001;
    opacity:0;
    transform: scale(0.5);
}
.screen02.leaved .sofa02{
    animation:sofa02 1s linear;
}
@keyframes sofa02{
    from{
        opacity:1;
    }
    to{
        opacity:1;
        transform: translate(-78px,1017px);
    }
}
@keyframes search{
    from{
        opacity: 1;
        transform:translate(2000px,145px);
    }
    33.3%{
        transform:translate(-204px,145px);
    }
    67%{
        transform:translate(-204px,145px);
    }
    to{
        opacity:1;
        transform:scale(0.7);
    }
}

/*第三屏---------------------*/
.screen03{
    background: url("../images/03-bg.png") no-repeat center bottom;
}
.screen03 .sofa03{
    position: absolute;
    left: 210px;
    bottom: 230px;
    opacity: 0;
}
.screen03.now .sofa03{
    opacity:1;
    z-index:1001;
}
.screen03 .change{
    position:absolute;
    left:488px;
    bottom:165px;
}
.screen03 .change img:first-child{

}
.screen03 .change img:last-child{
    position: absolute;
    left: 0;
    top: 0;
    opacity:0;
 }
.screen03.now .change img:last-child{
    opacity:1;
    transition:opacity 1s linear;
}
.screen03 .cart{
    position: absolute;
    left: 488px;
    bottom: 96px;

}
.screen03 .cart img:last-child{
    position: absolute;
    left: 0;
    top: 0;
    opacity:0;
}
.screen03.now .cart img:last-child{
    opacity:1;
    transition:opacity 0.5s linear;
}

.screen03.leaved .sofa03{
    animation:sofa03 1s linear;
}
@keyframes sofa03{
    from{}
    to{
        transform:translate(172px,922px) rotate(16deg);
    }
}

/*第四屏---------元素--------------*/
.screen04{
    background: url("../images/04-bg.png") no-repeat center bottom;
}
.screen04 .cloud{
    position: absolute;
    left: 0;
    top: 20px;
}
.screen04 .text04{
    margin-top:100px;
    text-align: center;
    position: relative;
}
.screen04 .text04 img:last-child{
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    opacity:0;
}
.screen04 .cart img:first-child{
    position: absolute;
    top:-25px;
    left:150px;
    opacity:0;
}
.screen04 .cart{
    position: absolute;
    left:230px;
    bottom: 50px;
}
.screen04.now .cart img:first-child{
    opacity:1;
}
.screen04 .address img:last-child{
    position: absolute;
    top: 60px;
    left:60px;
    opacity: 0;
}
.screen04 .address{
    position: absolute;
    left:309px;
    bottom:150px;
    opacity:0;
}


/*第四屏---------动画--------*/
.screen04.now .cloud{
    animation:cloud04 15s linear infinite alternate;
}
@keyframes cloud04{
    from{}
    to{
        transform:translateX(500px);
    }
}
.screen04.now .cart{
    transform:translateX(1500px);
    transition:transform 1.5s linear;
}
.screen04.show .address{
    opacity:1;
    transition:opacity 0.5s linear;
}
.screen04.show .address img:last-child{
    opacity:1;
    transition:opacity 0.5s linear 0.5s;
}
.screen04.show .text04 img:first-child{
    opacity:0;
    transition: opacity 0.5s linear;
}
.screen04.show .text04 img:last-child{
    opacity: 1;
    transition: opacity 1s linear 0.5s;
}
/*第五屏--------------元素------*/
.screen05{
    background: url("../images/05-bg.png");
}
.screen05 .content{
    height:100%;
}
.screen05 .card{
    position: absolute;
    left: 0;
    bottom:230px;
    z-index:1;
}
.screen05 .order{
    position: absolute;
    left: 130px;
    bottom:416px;
    transform:translateY(100px);
}
.screen05 .text05{
    position: absolute;
    left: 0;
    bottom:580px;
}
.screen05 .sofa05{
    position: absolute;
    bottom:120px;
    left:60px;
    opacity:0;
    z-index:1;
}
.screen05 .mouse{
    position: absolute;
    right:0;
    bottom:0;
    width:205px;
    height: 100%;
    overflow: hidden;
}
.screen05 .mouse img{
    position: absolute;
    left:0;
    bottom:230px;
    /*opacity: 0;*/
}
.screen05 .mouse .hand{
    position: absolute;
    right:59px;
    bottom:0;
    z-index:1;
    transform:translateY(500px);
}

/*第五屏-----------动画-------*/
.screen05.now .hand{
    transform:none;
    transition:transform 1s linear;
}
.screen05.now .mouse img:last-child{
    opacity:0;
    transition:opacity 0.2S linear 1s;
}
.screen05.now .sofa05{
    animation:sofa05 2s linear 1.2s forwards;
}
.screen05.leaved .sofa05{
    animation:sofa05-leave 1s linear;
}
@keyframes sofa05{
    from{
        opacity:1;
        transform:translateY(-1000px) rotate(30deg);
    }
    70%{
        transform:translateY(-150px) rotate(30deg);
    }
    to{
        opacity:1;
        transform: rotate(30deg);
    }
}
@keyframes sofa05-leave {
    from{
        opacity:1;
        transform:rotate(30deg);
    }
    to{
        opacity:1;
        transform:translateY(480px) scale(0.2) rotate(30deg);
    }
}
.screen05.now .order{
    transform:none;
    transition: transform 0.6s linear 2.8s;
}


/*第六屏-------元素--------*/
.screen06 .content{
    width: 2000px;
    height: 600px;
    margin-left:-1000px;
    background: url("../images/06-bg.png") no-repeat 20%  bottom;
    /*background-size: ;*/
}
.screen06 .cloud06 img:first-child{
    position: absolute;
    top: -200px;
    left: 500px;
}
.screen06 .cloud06 img:last-child{
    position: absolute;
    top: -250px;
    left:400px;
}
.screen06 .text06 img:last-child{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}
.screen06 .text06{
    position: absolute;
    left:800px;
    top:-40px;
}
.screen06 .trip{
    width: 221px;
    height: 122px;
    position: absolute;
    right:1149px;
    bottom:82px;
}
.screen06 .trip .box{
    position: absolute;
    left:31px;
    bottom:31px;
}
.screen06 .trip .car{
    position: absolute;
}
.screen06 .trip .info{
    font-size: 0;
}
.screen06 .trip .info img:first-child{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity:0;
}
.screen06 .trip .info img:last-child{
    opacity: 0;
}
.screen06 .trip .info {
    position: absolute;
    right:-35px;
    top:-55px;
}
.screen06 .trip .worker img[alt="say"]{
    position: absolute;
    right:-240px;
    bottom:280px;
    opacity:0;
}
.screen06 .trip .worker{
    position: absolute;
    left: 0;
    bottom: 0;

}
.screen06 .trip .worker img:first-child{
    transform-origin: left bottom;
    transform:scale(0);
}
.screen06 .door{
    position: absolute;
    right:284px;
    bottom: 116px;
    opacity:0;
}
.screen06 .person{
    position: absolute;
    right:428px;
    bottom: 116px;
    transform-origin:right bottom;
    transform:scale(0);
}

/*第六屏-------动画--------*/
.screen06.now .cloud06 img:first-child{
    animation:cloud06 10s linear infinite alternate;
}
.screen06.now .cloud06 img:last-child{
    animation:cloud06 20s linear infinite alternate;
}
@keyframes cloud06 {
    from{}
    to{
        transform:translateX(1000px);
    }
}
/*盒子的三个状态
    最远处: transform:translate(-1000px,-500px);
    中间: transform:translate(0,-500px);
    车上: transform:none;
    */
.screen06.show .box{
    animation:box06 2s linear;
}
@keyframes box06 {
    from{
        transform:translate(-1000px,-500px);
    }
    50%{
        transform:translate(0,-500px);
    }
    to{
        transform:none;
    }
}
.screen06.now .content{
    background-position: 100% bottom;
    transition: 1.5s linear 1s;
}
.screen06.now .trip{
    right:800px;
    transition:right 1.5s linear 1s;
}
.screen06.now .worker img[alt="worker"]{
    animation:worker 1.5s linear 2.5s forwards;
}
@keyframes worker {
    from{}
    50%{
        transform:scale(1);
    }
    70%{
        transform:scale(1) translate(0,-26px);
    }
    to{
        transform:scale(1) translate(200px,-26px);
    }
}
.screen06.now .info img:first-child{
    opacity:1;
    transition: opacity 0.25s linear 2s;
}
.screen06.now .info img:last-child{
    opacity:1;
    transition: opacity 0.25s linear 1s;
}
.screen06.show .text06 img:first-child{
    opacity:0;
    transition: opacity 0.5s linear 4s;
}
.screen06.show .text06 img:last-child{
    opacity: 1;
    transition: opacity 1s linear 4.5s;
}
.screen06.now .trip .worker img[alt="say"]{
    opacity:1;
    transition: opacity 0.5s linear 4s;
}
.screen06.now .door{
    opacity:1;
    transition: opacity 0.5s linear 4.5s;
}
.screen06.now .person{
    animation:person 1s linear 5s forwards;
}
@keyframes person {
    from{}
    50%{
        transform:scale(1);
    }
    to{
        transform:translateX(-30px);
    }
}

/*第七屏--------元素-------*/
.screen07 .content{
    background: url("../images/07-bg.png") no-repeat center bottom;
}
.screen07 .star img{
    float:left;
    margin-right: 6px;
    /*opacity:0;*/
    display: none;
}
.screen07 .star{
    font-size: 0;
    position: absolute;
    left: 158px;
    bottom: 445px;
}
.screen07 .good{
    position:absolute;
    left: 166px;
    bottom:385px;
    transform-origin: left bottom;
    transform:scale(0);
}
/*第七屏--------动画-------*/
        /*星星动画通过jq  fadeIn()来实现*/

.screen07.now .good{
    animation:good 1s linear 1.5s forwards;
}
@keyframes good {
    from{}
    70%{
        transform:scale(1.3);
    }
    to{
        transform:none;
    }
}


/*第八屏-----元素----*/
.screen08{
    background: url("../images/08-bg.png");
    cursor: none;
}
.screen08 .btn{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform:translate(-50%,-50%);
}
.screen08 .btn img:last-child{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity:0;
}
.screen08 .btn img:last-child:hover{
    opacity:1;
}
.screen08 .again{
    position: absolute;
    right: 0;
    bottom:440px;
}
.screen08 .hand08{
    position: absolute;
    /*把默认位置设很远,当鼠标进入屏幕后,直接同步,
    不会因为鼠标没进入,元素显示在一个很不整齐的位置*/
    top: 3000px;
    left: 3000px;
}

/*第八屏-----动画----*/